# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# User files
*.swp
*.swo
*.xcuserstate
